@import url('../../node_modules/searchkit/release/theme.css');
/* @import url('../../node_modules/react-modal-video/scss/modal-video.scss'); */

.my-logo {
  color:white;
  flex:0 0 250px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
}